<html>
  <head>
    <title>Form</title>
  </head>
  <body>
    <form method="POST" action="/new">

        <h1>Upload a message</h1>

        <label for="name">Your name:</label><br>
        <input required type="text" id="name" name="name"><br>

        <label for="message">Your message:</label><br>
        <textarea required rows = 10  type="text" id="message" name="message"> </textarea><br>

        <input type="submit" value="Submit">
     </form>
  </body>
</html>